#opti_email_confirm_container {
  padding: 12px;
  border-radius: 4px;
  background-color: #d8e2fd;
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 16px;
}
#opti_email_confirm_container .opti_attention_icon {
  display: flex;
}
#opti_email_confirm_container p {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #1b115c;
  display: flex;
  gap: 4px;
}
#opti_email_confirm_container p a {
  margin-left: 4px;
  color: #1b115c;
  text-decoration: underline;
}