@use 'sass/base' as *;

.starter-title.row {
	display: flex;
	justify-content: space-between;
	@media screen and (max-width: 768px) {
		display: block;
	}
	h2 {
		@media screen and (max-width: 768px) {
			text-align: center;
		}
	}
	#opti_price_wrapper {
		text-align: right;
		@media screen and (max-width: 768px) {
			text-align: center;
		}
		.price {
			text-align: right;
			font-weight: 400;
			@media screen and (max-width: 768px) {
				text-align: center;
			}
		}
		.saving {
			display: none;
		}
		.titleAndPriceBlock__mobileOr {
			color: #69b3e5;
			@media screen and (min-width: 768px) {
				display: none;
			}
		}
		.titleAndPriceBlock__paymentPlanLink {
			text-transform: lowercase;
			position: relative;

			display: block;
			a {
				&:hover {
					text-decoration: none;
				}
			}

			.popover-trigger {
				color: #69b3e5;
				text-decoration: underline;
				text-transform: capitalize;
				white-space: nowrap;
				cursor: pointer;
			}
			.popover {
				left: calc(100% - 198px);
				top: 75px;
				@media screen and (max-width: 768px) {
					top: 50px;
					transform: translateX(-50%);
					left: 60%;
				}

				@media screen and (max-width: 576px) {
					left: 50%;
					& > .arrow {
						left: 72%;
					}
				}
			}

			.opti_show_popover {
				display: block;
			}
		}
		.btn-wrapper {
			margin-top: 10px;
			.price {
				display: none;
			}
			@media screen and (min-width: 768px) {
				display: none;
			}
		}

		.btn-wrapper.btn-sticky {
			position: fixed;
			bottom: 0;
			top: inherit;
			background-color: #fefefe;
			z-index: 1070;
			left: 0;
			margin-bottom: 0;
			width: 100%;
			padding: 10px;
			will-change: transform;
			.price {
				display: block;
			}
		}
	}
	.sidebar .btn-wrapper {
		@media screen and (max-width: 768px) {
			display: none;
		}
	}
}
