@media screen and (min-width: 768px) {
  #opti_new_discount_modal_parent .modal-dialog {
    width: 80%;
    max-width: 860px;
  }
}
#opti_new_discount_modal_parent .modal-dialog .modal-body {
  display: flex;
  padding: 0;
  max-width: 100%;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  #opti_new_discount_modal_parent .modal-dialog .modal-body {
    flex-direction: column;
  }
}
#opti_new_discount_modal_parent .modal-dialog .modal-body .info-modal-cross {
  font-size: 24px;
  right: unset;
  left: 15px;
}
@media screen and (max-width: 768px) {
  #opti_new_discount_modal_parent .modal-dialog .modal-body .info-modal-cross {
    color: #fff;
  }
}
#opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_form_container {
  padding: 30px 50px 80px;
  width: 56%;
}
@media screen and (max-width: 768px) {
  #opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_form_container {
    width: 100%;
    padding: 30px;
  }
}
#opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_form_container .opti_modal_form_header {
  text-align: center;
}
@media screen and (max-width: 768px) {
  #opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_form_container .opti_modal_form_header {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
}
#opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_form_container .opti_modal_form_header .opti_modal_form_header_logo {
  margin-bottom: 16px;
}
@media screen and (max-width: 768px) {
  #opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_form_container .opti_modal_form_header .opti_modal_form_header_logo {
    display: none;
  }
}
#opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_form_container .opti_modal_form_header .opti_modal_form_header_logo img {
  height: 64px;
  width: 80px;
}
#opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_form_container .opti_modal_form_header .opti_modal_form_header_text {
  margin-bottom: 16px;
}
#opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_form_container .opti_modal_form_header .opti_modal_form_header_text h2 {
  font-size: 32px;
  color: #404041;
  font-weight: 700;
  margin-bottom: 8px;
}
@media screen and (max-width: 768px) {
  #opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_form_container .opti_modal_form_header .opti_modal_form_header_text h2 {
    color: #fff;
  }
}
#opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_form_container .opti_modal_form_header .opti_modal_form_header_text .info-modal-bottomtext {
  font-family: museo-sans, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #69b3e5;
}
@media screen and (max-width: 768px) {
  #opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_form_container .opti_modal_form_header .opti_modal_form_header_text .info-modal-bottomtext {
    font-size: 0;
  }
  #opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_form_container .opti_modal_form_header .opti_modal_form_header_text .info-modal-bottomtext::after {
    font-size: 20px;
    content: "Your First Course";
    color: #fff;
    font-weight: 400;
  }
}
#opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_form_container .opti_modal_form_content form {
  width: 100%;
  margin: 0;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}
#opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_form_container .opti_modal_form_content form label {
  color: #808184;
  text-align: left;
  font-size: 14px;
  margin-bottom: 2px;
}
#opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_form_container .opti_modal_form_content form input[type=email] {
  background-color: #ecebea;
  padding: 16px;
  border-radius: 6px;
  border: 0;
  height: 50px;
}
#opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_form_container .opti_modal_form_content .opti_modal_form_content_cta {
  margin-bottom: 16px;
}
#opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_form_container .opti_modal_form_content .opti_modal_form_content_cta .btn {
  width: 100%;
  padding: 16px;
}
#opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_form_container .opti_modal_form_content .join-students-content {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 16px;
}
@media screen and (max-width768px) {
  #opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_form_container .opti_modal_form_content .join-students-content {
    padding: 0;
  }
}
#opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_form_container .opti_modal_form_content .join-students-content .hp-banner-students-img img {
  height: 28px;
}
#opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_form_container .opti_modal_form_content .join-students-content .hp-banner-text-and-stars {
  position: relative;
  width: 50%;
}
#opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_form_container .opti_modal_form_content .join-students-content .hp-banner-text-and-stars .text {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  line-height: 1.4;
}
#opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_form_container .opti_modal_form_content .join-students-content .hp-banner-text-and-stars .text span {
  color: #ffae01;
}
#opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_form_container .opti_modal_form_content .join-students-content .hp-banner-text-and-stars .stars {
  display: inline;
}
#opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_form_container .opti_modal_form_content .opti_modal_no_thanks {
  display: block;
}
#opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_form_container .opti_modal_form_content .opti_modal_no_thanks a {
  color: #404041;
  text-decoration: underline;
}
#opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_form_container .opti_timer {
  margin-top: 16px;
}
@media screen and (max-width: 768px) {
  #opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_form_container .opti_timer {
    max-width: unset;
    text-align: center;
  }
}
#opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_form_container .opti_timer .opti_timer_inner_content h5 {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  color: #808184;
  margin: 0;
  font-size: 14px;
  text-align: center;
  margin-bottom: 8px;
}
#opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_form_container .opti_timer .opti_timer_inner_content .opti_timer_inner_content_timer {
  display: flex;
  justify-content: center;
  gap: 24px;
}
#opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_form_container .opti_timer .opti_timer_inner_content .opti_timer_inner_content_timer .opti_timer_units {
  text-align: center;
}
#opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_form_container .opti_timer .opti_timer_inner_content .opti_timer_inner_content_timer .opti_timer_units .opti_timer_units_number {
  font-size: 30px;
  font-weight: 900;
  color: #000;
  margin-bottom: -8px;
}
#opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_form_container .opti_timer .opti_timer_inner_content .opti_timer_inner_content_timer .opti_timer_units .opti_timer_units_text {
  font-size: 12px;
  color: #000;
  font-weight: 400;
}
#opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_img_container {
  width: 44%;
  position: relative;
}
@media screen and (max-width: 768px) {
  #opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_img_container {
    width: 100%;
    order: -1;
    height: 186px;
  }
}
#opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_img_container img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
#opti_new_discount_modal_parent .modal-dialog .modal-body .opti_modal_img_container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

#ap3w-bar-675f6d3afff56c075fb1a416.ap3w-bar-675f6d3afff56c075fb1a416.ap3w-bar--full {
  display: none;
}