@use 'sass/base' as *;

#opti_split_payments_Wrapper {
	background: #feeeba;
	border-radius: 4px;
	border: 2px solid #ffae01;
	color: #808184;
	order: -1;
	padding: 16px;
	margin-bottom: 20px;
	max-height: 108px;
	width: 100%;
	@media screen and (min-width: 1170px) {
		width: calc(50% - 12px);
	}
	@media screen and (min-width: 992px) and (max-width: 1169.78px) {
		width: calc(66.66666667% - 12px);
	}
	h5 {
		font-size: 16px;
		letter-spacing: normal;
		text-transform: none;
		font-family: museo-sans, sans-serif;
		margin: 0 0 4px;
	}
	#opti_split_payments {
		margin: 0;
		display: inline;
		line-height: 1;
		font-weight: 400;
	}
	.opti_popover_trigger {
		position: relative;
		cursor: pointer;
		align-items: center;
		display: inline;

		a {
			text-decoration: underline;
			color: #808184;
		}
		#opti_popover {
			cursor: pointer;
			min-width: 300px;
			top: 20px;
			left: 50%;
			transform: translateX(-50%);

			.popover-content {
				font-weight: 400;
			}

			@media screen and (max-width: 576px) {
				transform: translateX(-50%);
				min-width: 250px;
				left: -58px;

				.arrow {
					left: unset;
					right: 10%;
				}
			}
		}
		.opti_show_popover {
			display: block !important;
		}
	}
}
