.opti_starter_package_upsell_category_test #opti_upsellBanner {
  background: #f3f9f4;
  position: relative;
  padding: 16px;
}
.opti_starter_package_upsell_category_test #opti_upsellBanner .opti_banner_close_icon {
  position: absolute;
  top: 8px;
  right: 4px;
  cursor: pointer;
}
.opti_starter_package_upsell_category_test #opti_upsellBanner .opti_upsellBanner_text {
  margin: 0;
  display: flex;
  gap: 4px;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  flex-wrap: wrap;
}
.opti_starter_package_upsell_category_test #opti_upsellBanner .opti_upsellBanner_text strong {
  font-weight: 600;
}
.opti_starter_package_upsell_category_test #opti_upsellBanner .opti_upsellBanner_text a {
  color: #ffae01;
  text-decoration: underline;
  margin-left: 4px;
}
.opti_starter_package_upsell_category_test #opti_upsellBanner .opti_tag_icon {
  margin-right: 16px;
  display: flex;
}
@media screen and (max-width: 768px) {
  .opti_starter_package_upsell_category_test #opti_upsellBanner .opti_tag_icon {
    margin-right: 8px;
  }
}
.opti_starter_package_upsell_category_test #opti_upsellBanner .opti_tag_icon svg {
  transform: rotateY(180deg);
}
@media screen and (max-width: 768px) {
  .opti_starter_package_upsell_category_test #opti_upsellBanner .opti_copy_text {
    max-width: 90%;
  }
}