#opti_modal_btn {
  padding: 22px 20px;
  font-size: 1.125em;
  letter-spacing: 2px;
  margin-left: 0;
}

.opti_hide_button {
  display: none !important;
}

.btn-wrapper .btn:not(#opti_modal_btn) {
  display: none;
}

#opti_discount_modal_parent .modal-body {
  position: relative;
  max-width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  #opti_discount_modal_parent .modal-body {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 580px) {
  #opti_discount_modal_parent .modal-body {
    padding-bottom: 30px;
  }
}
#opti_discount_modal_parent .modal-body .opti_slant {
  font-family: museo-sans-rounded, sans-serif;
  font-weight: 700;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffae01;
  color: #fefefe;
  padding: 7px 20px;
  border-radius: 0;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  #opti_discount_modal_parent .modal-body .opti_slant {
    font-size: 14px;
  }
}
#opti_discount_modal_parent .modal-body .opti_slant::after {
  content: " ";
  height: 100%;
  width: 29px;
  display: inline-block;
  position: absolute;
  background-color: #ffae01;
  right: -10px;
  top: 0;
  transform: skewX(-27deg);
  bottom: 0;
}
#opti_discount_modal_parent .modal-body .opti_modal_close_icon {
  font-size: 25px;
}
@media screen and (max-width: 768px) {
  #opti_discount_modal_parent .modal-body .info-modal-heading {
    margin-top: 10px;
    font-size: 18px;
  }
}
#opti_discount_modal_parent .modal-body .opti_modal_subheading h3 {
  color: #ffae01;
  font-size: 20px;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  #opti_discount_modal_parent .modal-body .opti_modal_subheading h3 {
    font-size: 16px;
  }
}
@media screen and (max-width: 580px) {
  #opti_discount_modal_parent .modal-body .opti_modal_subheading h3 {
    font-size: 15px;
  }
}
#opti_discount_modal_parent .modal-body .opti_modal_subheading h3 .opti_upsell_link {
  text-decoration: underline;
  color: #ffae01;
}
#opti_discount_modal_parent .modal-body .info-modal-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  padding-top: 0;
  padding-bottom: 10px;
}
@media screen and (max-width: 768px) {
  #opti_discount_modal_parent .modal-body .info-modal-content {
    gap: 0;
    align-items: center;
  }
}
#opti_discount_modal_parent .modal-body .info-modal-content__videoContainer {
  width: 50%;
  max-width: 375px;
}
@media screen and (max-width: 768px) {
  #opti_discount_modal_parent .modal-body .info-modal-content__videoContainer {
    width: 100%;
    max-width: 280px;
  }
}
#opti_discount_modal_parent .modal-body .info-modal-content__videoContainer .video-mask {
  margin-bottom: 20px;
  margin-top: 20px;
  border-bottom: 5px solid #69b3e5;
  border-left: 2px solid #ecebea;
  border-right: 2px solid #ecebea;
  border-top: 2px solid #ecebea;
}
@media screen and (max-width: 768px) {
  #opti_discount_modal_parent .modal-body .info-modal-content__videoContainer .video-mask {
    margin: 0;
  }
}
@media screen and (max-width: 378px) {
  #opti_discount_modal_parent .modal-body .info-modal-content__videoContainer .video-mask {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  #opti_discount_modal_parent .modal-body .info-modal-content__videoContainer .video-mask a {
    height: 160px !important;
  }
}
#opti_discount_modal_parent .modal-body .info-modal-content__videoContainer .video-mask a .play-arrow {
  margin-left: -60px;
  margin-top: -38px;
  width: 120px;
  height: 75px;
  line-height: 75px;
  font-size: 2.3em;
  padding-left: 5px;
  background-color: rgba(89, 171, 227, 0.9);
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  #opti_discount_modal_parent .modal-body .info-modal-content__videoContainer .video-mask a .play-arrow {
    margin-left: -40px;
    width: 80px;
    height: 60px;
  }
}
#opti_discount_modal_parent .modal-body .info-modal-content__videoContainer .video-mask a .play-arrow svg {
  fill: #fefefe;
  width: 43px;
  height: 43px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-left: 5px;
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}
#opti_discount_modal_parent .modal-body .info-modal-content__includes__heading {
  color: #404041;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  #opti_discount_modal_parent .modal-body .info-modal-content__includes__heading {
    font-size: 16px;
    margin-bottom: 12px;
  }
}
#opti_discount_modal_parent .modal-body .info-modal-content__includes__list {
  padding: 0;
}
#opti_discount_modal_parent .modal-body .info-modal-content__includes__list li {
  font-size: 18px;
  display: flex;
  margin-bottom: 8px;
  align-items: center;
}
@media screen and (max-width: 768px) {
  #opti_discount_modal_parent .modal-body .info-modal-content__includes__list li {
    font-size: 15px;
    margin-bottom: 4px;
  }
}
@media screen and (max-width: 580px) {
  #opti_discount_modal_parent .modal-body .info-modal-content__includes__list li {
    text-align: left;
    line-height: 1.3;
  }
}
#opti_discount_modal_parent .modal-body .info-modal-content__includes__list li .opti_tick_icon {
  background-image: url("https://cdn.jsdelivr.net/gh/riahamhari/hpa-resources@main/images/green-tick-icon.png");
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 768px) {
  #opti_discount_modal_parent .modal-body .info-modal-content__includes__list li .opti_tick_icon {
    width: 16px;
    height: 16px;
  }
}
#opti_discount_modal_parent .modal-body .info-modal-content__includes__list li:last-child {
  color: #ffae01;
}
#opti_discount_modal_parent .modal-body .info-modal-content__includes__link {
  text-decoration: underline;
  color: #69b3e5;
  display: block;
  text-align: left;
  margin-left: 35px;
}
@media screen and (max-width: 768px) {
  #opti_discount_modal_parent .modal-body .info-modal-content__includes__link {
    margin-left: 0;
    text-align: center;
  }
}
@media screen and (max-width: 580px) {
  #opti_discount_modal_parent .modal-body .info-modal-content__includes__link {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  #opti_discount_modal_parent .modal-body .info-modal-content__priceBlock {
    margin-top: 10px;
  }
}
#opti_discount_modal_parent .modal-body .info-modal-content__priceBlock .tittleAndPriceBlock__price {
  width: 100%;
}
#opti_discount_modal_parent .modal-body .info-modal-content__priceBlock .tittleAndPriceBlock__price h3.price {
  white-space: nowrap;
  color: #69b3e5;
  font-size: 2.5em;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  #opti_discount_modal_parent .modal-body .info-modal-content__priceBlock .tittleAndPriceBlock__price h3.price {
    font-size: 32px;
  }
}
#opti_discount_modal_parent .modal-body .info-modal-content__priceBlock .tittleAndPriceBlock__price .opti_total_value {
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #808184;
}
#opti_discount_modal_parent .modal-body .info-modal-content__priceBlock .tittleAndPriceBlock__price .opti_total_value span {
  text-decoration: underline;
}
#opti_discount_modal_parent .modal-body .info-modal-content__priceBlock .tittleAndPriceBlock__price .titleAndPriceBlock__paymentPlanLink {
  font-size: 15px;
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
  position: relative;
  max-width: 332px;
}
@media screen and (max-width: 768px) {
  #opti_discount_modal_parent .modal-body .info-modal-content__priceBlock .tittleAndPriceBlock__price .titleAndPriceBlock__paymentPlanLink {
    width: 100%;
  }
}
@media screen and (max-width: 580px) {
  #opti_discount_modal_parent .modal-body .info-modal-content__priceBlock .tittleAndPriceBlock__price .titleAndPriceBlock__paymentPlanLink {
    font-size: 14px;
  }
}
#opti_discount_modal_parent .modal-body .info-modal-content__priceBlock .tittleAndPriceBlock__price .titleAndPriceBlock__paymentPlanLink .desktopOr {
  display: none;
}
#opti_discount_modal_parent .modal-body .info-modal-content__priceBlock .tittleAndPriceBlock__price .titleAndPriceBlock__paymentPlanLink .popover-trigger {
  color: #69b3e5;
  text-decoration: underline;
  cursor: pointer;
}
#opti_discount_modal_parent .modal-body .info-modal-content__priceBlock .tittleAndPriceBlock__price .titleAndPriceBlock__paymentPlanLink .popover {
  left: 50%;
  transform: translateX(-25%);
  top: -315px;
  min-width: 280px;
}
#opti_discount_modal_parent .modal-body .info-modal-content__priceBlock .tittleAndPriceBlock__price .titleAndPriceBlock__paymentPlanLink .opti_show_popover {
  display: block;
  opacity: 1;
}
#opti_discount_modal_parent .modal-body .info-modal-content__priceBlock .tittleAndPriceBlock__price .titleAndPriceBlock__paymentPlanLink .opti_show_popover .arrow {
  bottom: -10px;
  transform: rotate(180deg);
  top: unset;
}
#opti_discount_modal_parent .modal-body .info-modal-content__priceBlock .info-modal-content__cta a {
  color: #fefefe;
  background-color: #ffae01;
  border-color: #ffae01;
  padding: 15px 22px;
}
@media screen and (max-width: 768px) {
  #opti_discount_modal_parent .modal-body .info-modal-content__priceBlock .info-modal-content__cta a {
    font-size: 16px;
    width: 100%;
    padding: 15px;
    white-space: normal;
  }
}
#opti_discount_modal_parent .modal-body .info-modal-content__priceBlock .info-modal-content__cta a p {
  font-weight: 100;
  color: #fefefe;
  font-size: 15px;
  margin-top: 4px;
}
@media screen and (max-width: 768px) {
  #opti_discount_modal_parent .modal-body .info-modal-content__priceBlock .info-modal-content__cta a p {
    font-size: 15px;
  }
}
@media screen and (max-width: 580px) {
  #opti_discount_modal_parent .modal-body .info-modal-content__priceBlock .info-modal-content__cta a p {
    font-size: 14px;
    margin-top: 4px;
    letter-spacing: 1px;
  }
}
#opti_discount_modal_parent .modal-body .info-modal-content__priceBlock .opti_no_thanks {
  color: #404041;
  text-decoration: underline;
  display: block;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  #opti_discount_modal_parent .modal-body .info-modal-content__priceBlock .opti_no_thanks {
    font-size: 15px;
  }
}
@media screen and (max-width: 580px) {
  #opti_discount_modal_parent .modal-body .info-modal-content__priceBlock .opti_no_thanks {
    font-size: 14px;
  }
}